* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #1d2329;
    width: 100%;
    margin: 0;
    background-color: #f2f6f7;
}

a {
    color: #00c1e3;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* 
    * Header
*/

#header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.05);
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    max-width: 600px;
    margin: 1em 0;
}

.header-link {
    display: flex;
    align-items: center;
}

.header-link a {
    font-weight: 900;
    font-size: 1em;
    padding: 0.2em 1em;
    color: #1d2329;
}
.user .header-link #menu {
    font-size: 2em;
    padding: 0.1em;
    cursor: pointer;
    transition: 0.2s all;
}
.user .header-link #menu:hover {
    color: #445253;
}

.header-logo {
    display: flex;
}
.header-logo img {
    width: auto;
    max-height: 50px;
}
.user .header-logo img {
    max-height: 40px;
}


/* Content */

#content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-inner {
    width: 94%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2em 2em;
}


.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    font-size: 2em;
    font-weight: 400;
    color: #173234;
}
.home-content h1 span {
    font-weight: 900;
    color: #00c1e3;
}

.home-content p {
    font-size: 1.2em;
    font-weight: 400;
    color: #173234;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2em;
}

.home-buttons a {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    padding: 0.2em 1em;
    color: #173234;
    border: 2px solid #173234;
    border-radius: 2em;
}

.home-buttons span {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em 0;
}

/* Page */

.page-top {
    display: flex;
    align-items: center;
    position: relative;
}

.page-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
}

.page-top .page-title {
    flex: 1;
    margin-bottom: 0;
}

.page-top .page-back {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
}
.page-back a {
    font-size: 1.8em;
    color: #445253;
}

.page-title h1 {
    font-size: 2em;
    text-align: center;
}

.page-title p {
    font-size: 1em;
    text-align: center;
    color: #445253;
}

.profile-settings-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border: 1px solid #f3f3f3;
}

.profile-settings-section h3 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    padding: 0.5em 1em;
}

.profile-settings-section h3 {
    background: linear-gradient(#ee699b, #f2658d, #ff5354);
}

/* Form */

.form-input {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}

.form-check {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form-check label {
    font-size: 0.9em;
    margin-left: 0.5em;
}

.form-input label {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding: 0.3em 1em;
}

.social-input {
    display: flex;
    padding: 0.5em 1em;
}
.social-input label {
    width: 40px;
    margin-right: -6px;
    z-index: 1;
}
.social-input label img {
    width: 100%;
    height: auto;
    display: block;
}
.social-input input {
    flex: 1;
    font-size: 1em;
    background-color: #f2f6f7;
    color: #173234;
    border: 1px solid #e0e0e0;
    padding: 0.8em 1.8em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    outline: none;
}

.form-input input,
.form-input textarea {
    font-size: 1em;
    background-color: #f2f6f7;
    color: #173234;
    border: 1px solid #e0e0e0;
    padding: 0.8em 1.8em;
    border-radius: 2em;
    outline: none;
}
.social-input input:focus,
.form-input input:focus {
    border: 1px solid #173234;
}
.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.profile-change button,
.form-submit button {
    font-size: 0.9em;
    font-weight: 700;
    color: #173234;
    background-color: #00c1e3;
    padding: 0.8em 2em;
    border: none;
    outline: none;
    border-radius: 4em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-change button {
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.2s all;
}

.profile-change button.no-display {
    pointer-events: none;
    transform: translate(-50%, 10%);
    opacity: 0;
}

.form-submit button i {
    margin-left: 1em;
}

.form-message {
    text-align: center;
    padding: 1em 1em;
    font-size: 1em;
    font-weight: 700;
}

.form-message.form-error {
    color: #bb3636;
}
.form-message.form-success {
    color: #1fbe67;
}

.register-page,
.login-page {
    margin-bottom: 2em;
}
.register-page > .page-form,
.login-page > .page-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


/* Profile */

.profile-head {
    background-image: url(../images/profile_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    box-sizing: content-box;
    width: 100%;
    padding: 2em 2em 3em 2em;
    margin-left: -2em;
    margin-top: -2em;
}

.settings-page {
    background-color: #f2f6f7;
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em;
} 

.profile-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.profile-avatar-icon {
    width: 80%;
    max-width: 100px;
    display: flex;
}

.profile-avatar-icon img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.profile-name {
    margin-top: 0.5em;
    text-align: center;
}

.profile-name h2 {
    font-size: 1.4em;
    color: #ffffff;
}

.profile-name p {
    font-size: 0.9em;
    color: #ffffff;
}

.profile-change {
    display: flex;
}

.profile-change label {
    border-bottom: 1px solid #445253;
}

.profile-change input {
    display: none;
}

.profile-card {
    width: 88%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: -1.4em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.profile-card-menu {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    background: linear-gradient(-90deg, #00efd1, #00acea);
}

.profile-card-menu-item {
    padding: 1em 2em;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    color: #f2f6f7;
    font-size: 1em;
    min-width: 120px;
}

.profile-card-menu-item::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #f2f6f7;
    left: 0%;
    bottom: 0;
    width: 0%;
    transition: 0.2s all;
}

.profile-card-menu-item.active {
    font-weight: 700;
    color: #ffffff;
}
.profile-card-menu-item.active::before {
    width: 100%;
}

.profile-card-menu-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-card-content-item {
    padding: 2em;
    display: none;
}

.profile-card-content-item.active {
    display: block;
}

.profile-setting-buttons {
    display: flex;
    margin-bottom: 1em;
}

.profile-setting-buttons a {
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.6em 2em 0.6em 1em;
    border-radius: 4px;
    background-color: #1d2329;
    color: #e0e0e0;
}
.profile-setting-buttons a i {
    margin-right: 0.6em;
    pointer-events: none;
}

.profile-setting-buttons a:nth-child(2) {
    margin-left: 1em;
}

.profile-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.profile-link-box {
    width: 29%;
    margin: 1em 2%;
    border: 1px solid #f3f3f3;
    border-radius: 12px;
}

.profile-link-box.opacity-low {
    opacity: 0.4;
}

.profile-link-icon {
    display: flex;
    width: 100%;
}

.profile-link-icon img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-link-description {
    font-size: 1em;
    color: #445253;
    padding-bottom: 0.2em;
    text-align: center;
}

#for-bio p {
    margin-bottom: 1em;
}

/* Menu */

#user-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    transition: 0.2s all;
}

#user-menu.closed {
    pointer-events: none;
    opacity: 0;
}

#user-menu .menu-content {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    padding: 5vh 4vw;
    transform: translateX(0%);
    transition: 0.3s all;
}

#user-menu.closed .menu-content {
    transform: translateX(-10%);
}

.menu-content-inner {
    display: flex;
}
.menu-content-inner li {
    display: flex;
    align-items: center;
}
.menu-content-inner .menu-icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 0.5em;
}

.menu-icon.menu-icon-home {
    background-image: url(../images/menu-home.png);
    background-size: contain;
}
.menu-icon.menu-icon-profile {
    background-image: url(../images/menu-profile.png);
    background-size: contain;
}
.menu-icon.menu-icon-activate {
    background-image: url(../images/menu-activate.png);
    background-size: contain;
}
.menu-icon.menu-icon-help {
    background-image: url(../images/menu-help.png);
    background-size: contain;
}
.menu-icon.menu-icon-logout {
    background-image: url(../images/menu-logout.png);
    background-size: contain;
}
.menu-content-inner li a {
    font-size: 1.1em;
    font-weight: 700;
    color: #445253;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}

.vcard {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.vcard a {
    padding: 0.5em 3em;
    background: linear-gradient(#00c1e3, #00efd1);
    border-radius: 2em;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.vcard a i { 
    margin-right: 0.6em;
    font-size: 0.9em;
}

/* Footer */

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    width: 94%;
    max-width: 600px;
    padding: 1em 0;
    background-color: #173234;
}

.footer-inner p {
    font-size: 0.9em;
    padding: 0.2em 1em;
    color: #ffffff;
    text-align: center;
}
.footer-inner p a {
    font-weight: 700;
    color: #ffffff;
}

