* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #1d2329;
    width: 100%;
    margin: 0;
    background-color: #f2f6f7;
}

a {
    color: #00c1e3;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* 
    * Header
*/

#header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.05);
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    max-width: 600px;
    margin: 1em 0;
}

.header-link {
    display: flex;
    align-items: center;
}

.header-link a {
    font-weight: 900;
    font-size: 1em;
    padding: 0.2em 1em;
    color: #1d2329;
}

.header-logo {
    display: flex;
}
.header-logo img {
    width: auto;
    max-height: 50px;
}


/* Content */

#content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-inner {
    width: 94%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2em 2em;
}


.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    font-size: 2em;
    font-weight: 400;
    color: #173234;
}
.home-content h1 span {
    font-weight: 900;
    color: #00c1e3;
}

.home-content p {
    font-size: 1.2em;
    font-weight: 400;
    color: #173234;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2em;
}

.home-buttons a {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    padding: 0.2em 1em;
    color: #173234;
    border: 2px solid #173234;
    border-radius: 2em;
}

.home-buttons span {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em 0;
}

/* Page */

.page-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
}

.page-title h1 {
    font-size: 2em;
    text-align: center;
}

.page-title p {
    font-size: 1em;
    text-align: center;
    color: #445253;
}

/* Form */

.form-input {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}

.form-input label {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding: 0.3em 1em;
}

.form-input input {
    font-size: 1em;
    background-color: #f2f6f7;
    color: #173234;
    border: 1px solid #e0e0e0;
    padding: 0.8em 1.8em;
    border-radius: 2em;
    outline: none;
}
.form-input input:focus {
    border: 1px solid #173234;
}
.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.form-submit button {
    font-size: 0.9em;
    font-weight: 700;
    color: #173234;
    background-color: #00c1e3;
    padding: 0.8em 2em;
    border: none;
    outline: none;
    border-radius: 4em;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.form-submit button i {
    margin-left: 1em;
}

.form-message {
    text-align: center;
    padding: 1em 1em;
    font-size: 1em;
    font-weight: 700;
}

.form-message.form-error {
    color: #bb3636;
}
.form-message.form-success {
    color: #1fbe67;
}

.register-page {
    margin-bottom: 2em;
}
.register-page > .page-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


/* Footer */

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    width: 94%;
    max-width: 600px;
    padding: 1em 0;
    background-color: #173234;
}

.footer-inner p {
    font-size: 0.9em;
    padding: 0.2em 1em;
    color: #ffffff;
    text-align: center;
}
.footer-inner p a {
    font-weight: 700;
    color: #ffffff;
}

